{
  "extends": [
    "airbnb-typescript",
    "next",
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "prefer-const": "error",
    "react/jsx-props-no-spreading": 0,
    "no-console": 0
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "document": true,
    "window": true
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"], // Your TypeScript files extension
      "parserOptions": {
        "project": ["./tsconfig.json"] // Specify it only for TypeScript files
      }
    }
  ],
  "parser": "@typescript-eslint/parser"
}
